.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rota
    
    te(360deg); }
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  font-size: 3.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 6px 10px 0 rgba(159, 235, 18, 0.911);
  margin: 1em;
  user-select: none;
 }
 
 .activeCard {
  color: rgb(234, 14, 241);
  background: rgb(22, 172, 241);
 }